@page "/"
@namespace Anamnesis.Pages
<!DOCTYPE html>
<head>
    <title>Anamnesis</title>
</head>
<h1>Namespaces</h1>
@foreach(var ns in await GoogleCloud.GoogleCloud.ListFolders(Environment.GetEnvironmentVariable("ANAMNESIS_BUCKET")))
{
    <p>@ns</p>
}
