@page "/"
@namespace Anamnesis.Dashboard.Pages
@model IndexModel
<!DOCTYPE html>
<head>
    <title>Anamnesis</title>
</head>
<h1>Namespaces</h1>
<ul>
    @foreach(var ns in Model.Namespaces)
    {
        <li>@ns
            <ul>
                <li><a href="/@ns/modules">Modules</a></li>
            </ul>
        </li>
    }
</ul>
