@page "/{ns}/modules"
@namespace Anamnesis.Dashboard.Pages
@model ModulesModel
<!DOCTYPE html>
<head>
    <title>Modules - @Model.Namespace - Anamnesis</title>
</head>
<p><a href="/">Home</a></p>
<h1>@Model.Namespace - Modules</h1>
<ul>
    @foreach(var module in Model.Modules)
    {
        <li>@module</li>
    }
</ul>
